          <!-- START THE FEATURETTES -->
<div class="container" style="margin-left: 30px; margin-right: 30px; margin: 75px ">
<div class="row" style="margin-left: 30px; margin-right: 30px">
          
              <h2 class="featurette-heading">
           
<h3> <b><u>Our Mission:</b></u>
<br>To offer and provide exclusive accommodations and V.I.P. services to all seeking true pleasure and enjoyment in a vacation experience with professionalism, courtesy and respect with the desire to please.
</h3>
               
               <h3> <b><u>Our Company:</b></u>
<br>V.I.P. Lifestyle Destinations, LLC's caters to our V.I.P. clients. Our V.I.P.'s may select from a wide range of accommodation options no matter the occasion. A romantic get-away-weekend for two or a destination wedding. A vacation trip with your closest friends or a family trip with your loved ones. V.I.P. Lifestyle Destinations will bring you the experience you deserve.</h3>

<h3><b><u>Why V.I.P. Lifestyle Destinations?</b></u>
<br>We work with our travel network to provide accommodations that will more than just satisfy. Our success is based solely on the satisfaction of our V.I.P. clients. You are not just a client, you are a V.I.P.</h3>

<h3><b><u>Based in the US:</b></u>
<br>V.I.P. Lifestyle Destinations is based in the US, with current locations in New York and New Jersey and future expansion on the horizon.</h3>

<h3><b><u>Promotional Offers:</b></u>
<br>We are constantly working to bring our V.I.P.'s great accommodation offers. Check back regularly to see what we may have in store for you to enjoy.</h3>  

<h3><b><u>No Hidden Fees or Charges:</b></u>
<br>All our V.I.P. clients receive the full price for their stay. There are absolutely no hidden fees or charges. Some destinations offer the option to pay the all-inclusive fee at check-in. For those who select that option, the all-inclusive fee will be clearly stated in their travel accommodation package.</h3>
  
<h3><b><u>Payment Options:</b></u>
<br>At V.I.P. Lifestyle Destinations, we offer various payment options to give you the flexibility you need. The more time in advance you plan your trip, the more payment options are available. Contact a travel consultant for more details.
For your protection and  convenience, we accept PayPal for all our available payment options.</h3>

<h3><b><u>Cancellation & Date Alteration Policies:</b></u>
<br>Please be aware of our Travel Date Changes and Cancellation Policies described below.<br>
Travel Date Changes: Travel date changes can be requested with 3 months notice prior to the arrival. We accept changes of 2-3 days of the confirmed reservation to accommodate flight changes. All travel date changes are subject to availability.<br>
Cancellation: Cancellations of confirmed reservations more than 3 months prior to arrival will receive full credit paid. Between 3 months and 1 month prior to arrival will receive 50% credit of the accommodations fee. Cancellation 1 month prior to arrival will cause the entire fee to be forfeited.</h3>
</div>
</div>
          <!-- /END THE FEATURETTES -->
