<!-- Second Nav bar -->
  <div id="destNav" class="navbar navbar-default navbar-fixed-top fixed-element" data-offset-top="80" data-spy="affix">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse main-nav">
        <ul id="destList" class="nav navbar-nav">
          <li ng-class="{active: activetab=='/domRep'}"><a href="#domRep">Dominican Republic</a></li>
          <li class="divider-vertical"></li>
          <li ng-class="{active: activetab=='/mex'}"><a href="#mex">Mexico</a></li>
          <li class="divider-vertical"></li>
          <li ng-class="{active: activetab=='/jamaica'}"><a href="#jamaica">Jamaica</a></li>
          <li class="divider-vertical"></li>
        </ul>
      </div>
    </div>
  </div>

<ul id= "destTabs" class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" data-target="#bocaChica"><span></span>Boca Chica</a></li>
    <li><a data-target="#puertoPlata" data-toggle="tab"><span></span>Puerto Plata</a></li>
    <li><a data-target="#puntaCana" data-toggle="tab"><span></span>Punta Cana</a></li> 
</ul>  

<div class="tab-content">
    
<!-- This is Boca Chica Tab -->
    <div class="tab-pane fade in active" id="bocaChica">
        <div class="row header" style="margin-top: 20px">
            <div>
            <center><h2>Lifestyle Resort & Spa at Be Live Hamaca Beach<br>Boca Chica<br></h2></center>
            <center><h3>For a listing of Restaurants, Bars and Beaches,</h3></center>
            <center><h3>Visit our <a href="./BocaChicaResortInfo.html">Resort Overview Page</a></center></h3></center>
            </div> 
        
                <div class="container marketing">
          <!-- Three columns of text below the carousel -->
           <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="./img/Dominican Republic/Boca Chica/Dream Suite 01.JPG" alt="Dream Suite 01.JPG" style="width: 140px; height: 140px;">
              <h2>Dream Suites</h2>
              <p>Studio - All Inclusive $225/night</p>
              <p>Based on Double Occupancy</p><br><br>
              <p></p>
              <p></p>
                            <p><a class="btn btn-default" href="./ReservationRequestBC.html" role="button">Request Booking »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
            
             <img class="img-circle" src="./img/Dominican Republic/Boca Chica/Presidential Suite 01.JPG" alt="Presidential Suite 01.JPG" style="width: 140px; height: 140px;">
              <h2>Presidential Suites</h2>
              <p>1 Bedroom -  - All Inclusive $241/night</p>
              <p>2 Bedroom  - All Inclusive $439/night</p>
              <p>3 Bedroom  - All Inclusive $653/night</p>
                            <p>Based on Double Occupancy</p>
              <p><a class="btn btn-default" href="./ReservationRequestBC.html" role="button">Request Booking »</a></p>
            </div>

          </div>
          </div>
        
                  <!-- START THE FEATURETTES FOR BOCA Chica-->

          <hr class="featurette-divider first">

          <div class="row featurette">
              <div class="col-md-5">
              <p><a class="btn btn-default" href="./ReservationRequestBC.html">Request Booking »</a></p>
       <img class="featurette-image img-responsive" alt="Dream Suite 02" src="./img/Dominican Republic/Boca Chica/Dream Suite 02.JPG" data-holder-rendered="true"><br>
       <img class="featurette-image img-responsive" alt="Dream Suite 03" src="./img/Dominican Republic/Boca Chica/Dream Suite 03.JPG" data-holder-rendered="true"><br>
      <img class="featurette-image img-responsive" alt="Dream Suite 04" src="./img/Dominican Republic/Boca Chica/Dream Suite 04.JPG" data-holder-rendered="true"><br?
       <img class="featurette-image img-responsive" alt="Dream Suite 05" src="./img/Dominican Republic/Boca Chica/Dream Suite 05.JPG" data-holder-rendered="true"><br>
       <br>
              </div>
            <div class="col-md-7">
              <h2 class="featurette-heading">Dream Suites: <span class="text-muted">Studios</span></h2>
              <p class="lead">
              Centrally located on the resort with an ocean or garden view these spacous suites keep space and comfort in mind, making Dream Suites a relaxing, enjoyable and satisfying experience for all. All suites have views of the ocean or pool area, while the décor has a distinctive design. With a living room space sectioned apart from the sleeping area, space is never a concern. The Dream Suites offer a unique luxury accommodations experience. Dream Suites provides the easy, relaxed ambience of the Caribbean in an opulent and elegant setting, as well as V.I.P. services on property to take care of your vacation needs! <br>
<u>ALL SUITES FEATURE</u><br>Air  conditioning, cable TV, telephone, safe ($), Radio-Alarm clock  radio, hair dryer and iron with board. A mini refrigerator includes water, beer and soft drinks refreshed daily at no extra charge. The room also comes equipped with a coffee maker. 
<!-- <b><i>
<br>Suite:$69/night
<br> All-Inclusive fee: $75 pp/pd
</b></i> -->
</p>
<p><a class="btn btn-default" href="./ReservationRequestBC.html" role="button">Request Booking »</a></p>              
             </div>
            </div>
          <hr class="featurette-divider">
          
          
          <div class="row featurette">
              <div class="col-md-5">
              <p><a class="btn btn-default" href="./ReservationRequestBC.html">Request Booking »</a></p>
       <img class="featurette-image img-responsive" alt="3BR Presidential Suite 02.JPG" src="./img/Dominican Republic/Boca Chica/3R Presidential Suite 02.JPG" data-holder-rendered="true"><br>
       <img class="featurette-image img-responsive" alt="3BR Presidential Suite 03.JPG" src="./img/Dominican Republic/Boca Chica/3R Presidential Suite 03.JPG" data-holder-rendered="true"><br>
       <img class="featurette-image img-responsive" alt="3BR Presidential Suite 04.JPG" src="./img/Dominican Republic/Boca Chica/3R Presidential Suite 04.JPG" data-holder-rendered="true"><br>
       <img class="featurette-image img-responsive" alt="3BR Presidential Suite 05.JPG" src="./img/Dominican Republic/Boca Chica/3R Presidential Suite 05.JPG" data-holder-rendered="true"><br>
        
       
              </div>
            <div class="col-md-7">
              <h2 class="featurette-heading">Presidential Suites: <span class="text-muted">1, 2, 3 Bedrooms</span></h2>
              <p class="lead">
              The Presidential Suite, the highest level accommodation on the resort boasts the best ocean views in Boca Chica. Presidential Suites in Boca Chica is a unique and incomparable place where you can enjoy time with your spouse, spend time with friends or live a high end Caribbean experience with your family.<br>
This wonderful resort has one, two and three bedrooms suites available. All buildings have elevators and rooms with views to ocean and beach.<br>
<u>ALL SUITES FEATURE</u><br>
Air-conditioning, coffee maker, cable TV, telephone, Radio-Alarm clock radio, hair dryer iron with board and laundry service($). A mini refrigerator includes water, beer and soft drinks refreshed daily at no extra charge. Our 2 and 3 bedroom suites offer living area and are equipped kitchens with refrigerator, microwave, and coffee maker; as well as glass and silverware. Dining Room with table and chairs. Balcony or Terrace. Wi-Fi and Safety Deposit Box available($)<br> 
<u>ROOM TYPES</u>:<br>
•  One Bedroom Suites: Master Suite with King bed, complete bathroom with combined shower/tub.<br>
•  Two Bedroom Suites: Master Suite with King bed, second bedroom with 2 full size beds. <br>
•  Three Bedroom Suites: Master Suite with King bed, two additional bedrooms with 2 beds each (1 Queen and 1 Full). 
<!--  <b><i>
<br>1 Bedroom Suite:$79/night
<br>2 Bedroom Suite:$89/night
<br>3 Bedroom Suite: $99/night
<br>All-Inclusive fee: $75 pp/pd
</b><i/> -->
</p>
<p><a class="btn btn-default" href="./ReservationRequestBC.html" role="button">Request Booking »</a></p>              
             </div>
            </div>

        </div>
    </div>
    
<!-- This is Puerto Plata Tab -->  
    <div class="tab-pane fade" id="puertoPlata">
        <div class="row header" style="margin-top: 20px">
            
        </div>
    </div>
    
<!-- This is Punta Cana Tab -->    
    <div class="tab-pane fade" id="puntaCana">
        <div class="row header" style="margin-top: 20px">
            
        </div>
    </div>
    
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>
