<div class="jumbotron container-fluid">
  <div class="container">
          <p>...</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div>


          <!-- START of Features -->

<div class="container">
          
          <div class="row row-content">
              <div class="col-xs-12 col-sm-3 col-sm-push-9">
                  <img class="featurette-image img-responsive" alt="500x500" src="./images/Dominican Republic/Puerto Plata/Presidential Suite 02.JPG" data-holder-rendered="true">
              </div>
              <div class="col-xs-12 col-sm-9 col-sm-pull-3">
              <h2 class="featurette-heading">Puerto Plata <span class="text-muted">Dominican Republic</span></h2>
              <p class="lead">Due to the effects the sun made on the water as he approached it, on the North Coast of the Island Puerto Plata or “port of silver” was given its name by Christopher Columbus.</p>
              <p><a class="btn btn-primary" href="./ReservationRequest.html" role="button">Request Booking »</a></p>
            </div>        
          </div>

          
          <div class="row row-content">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <img class="featurette-image img-responsive"  alt="500x500" src="./images/Dominican Republic/Punta Cana/Presidential Suite 03.JPG" data-holder-rendered="true">
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
              <h2 class="featurette-heading">Punta Cana <span class="text-muted">Dominican Republic</span></h2>
              <p class="lead">The Dominican Republic is known for its beautiful beaches, clear ocean waters and sunny blue skies, and Punta Cana is the culmination of all that is perfect about the island.</p>
              <p><a class="btn btn-primary" href="./ReservationRequest.html">Request Booking »</a></p>
            </div>
          </div>
          
           <div class="row row-content">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <img class="featurette-image img-responsive"  alt="500x500" src="./images/Dominican Republic/Boca Chica/Dream Suite 02.JPG" data-holder-rendered="true">
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
              <h2 class="featurette-heading">Boca Chica <span class="text-muted">Dominican Republic</span></h2>
              <p class="lead">Boca Chica is one of the reasons why the Dominican Republic is known for its beautiful beaches. Located on the southern coast of the island of Hispaniola, Boca Chica's beach is one of a kind with immaculate fine white sand and warm crystalline ocean waters. Boca Chica is truly a Caribbean jewel. </p>
              <p><a class="btn btn-primary" href="./ReservationRequest.html">Request Booking »</a></p>
            </div>
          </div>

          <div class="row row-content">
              <div class="col-xs-12 col-sm-3 col-sm-push-9">
                  <img class="featurette-image img-responsive" alt="500x500" src="./images/Mexico/Cancun/GOC-04a.JPG" data-holder-rendered="true">
              </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
              <h2 class="featurette-heading">Cancún <span class="text-muted">Mexico</span></h2>
              <p class="lead">Warm white powdery sand beaches, turquoise crystal clear waters and world class hospitality make Cancún a place like no other! Cancún is not only a tropical paradise, it is a major world-renowned tourist destination for couples, singles, families, college students, thrill seekers and adventurists. Cancún is truly Mexico's crown jewel.</p>
              <p><a class="btn btn-primary" href="./ReservationRequest.html" role="button">Request Booking »</a></p>
            </div>
        
          </div>

          <div class="row row-content">
              <div class="col-xs-12 col-sm-3 col-sm-push-9">
                  <img class="featurette-image img-responsive" alt="500x500" src="./images/Mexico/Tulum/GOT-04.JPG" data-holder-rendered="true">
              </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
              <h2 class="featurette-heading">Mayan Riviera <span class="text-muted">Mexico</span></h2>
              <p class="lead">Stretching along the Caribbean coastline of the Yucatan Peninsula, Mayan Riviera is home to stunningly beautiful white sandy beaches and crystal clear blue waters of the Caribbean Sea.  Mexico is a country rich in history, culture and tradition, all of which you will experience when you visit making Mayan Riviera a perfect vacation destination.</p>
              <p><a class="btn btn-primary" href="./ReservationRequest.html" role="button">Request Booking »</a></p>
            </div>
        
          </div>
          
          <div class="row row-content">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <img class="featurette-image img-responsive"  alt="500x500" src="./images/Jamaica/Grand Palladium 11.JPG" data-holder-rendered="true">
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
              <h2 class="featurette-primary">Coming Soon! <span class="text-muted">Montego Bay, Jamaica</span></h2>
              <p class="lead">

Due in part to its location on the island's north shore, cradled between the sea and the hills, Montego Bay has earned the title of 'tourist capital of Jamaica.' A very warm welcome and the tropical shores of Montego Bay City awaits. Discover all Jamaica's second city has to offer.
</p>
            </div>
          </div>
</div>
          <!-- /END THE Features -->
