        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container">

            <div align=center class="row-content">
                <h1>V.I.P. Booking Request Page</h1>
                <h2> Request Booking for Your Resort of Choice Below</h2>
                <h3>Payments Powered By PayPal:
                <br>Once your reservation request is confirmed, you will receive a PayPal invoice via email. No payment is required until such time. </h3>

                <br>
            </div>
          <!-- Three columns of text below the carousel -->
          <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="./images/Dominican Republic/Puerto Plata/PP02.JPG" alt="Generic placeholder image" style="width: 140px; height: 140px;">
              <h2>Puerto Plata</h2>
              <h2>Dominican Republic</h2>
              <p><a class="btn btn-primary" href="./ReservationRequestPP.html" role="button">Request Booking »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="img-circle" src="./images/Dominican Republic/Punta Cana/Presidential Suite 01.JPG" alt="Generic placeholder image" style="width: 140px; height: 140px;">
              <h2>Punta Cana</h2>
              <h2>Dominican Republic</h2>
              <p><a class="btn btn-primary" href="./ReservationRequestPC.html" role="button">Request Booking »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
            <img class="img-circle" src="./images/Dominican Republic/Boca Chica/Presidential Suite 01.JPG" alt="Generic placeholder image" style="width: 140px; height: 140px;">
              <h2>Boca Chica</h2>
              <h2>Dominican Republic</h2>
              <p><a class="btn btn-primary" href="./ReservationRequestBC.html" role="button">Request Booking »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">

             <img class="img-circle" src="./images/Mexico/Cancun/GOC-07.JPG" alt="Generic placeholder image" style="width: 140px; height: 140px;">
              <h2>Grand Oasis Cancún</h2>
              <h2>Cancún, Mexico</h2>
              <p><a class="btn btn-primary" href="./ReservationRequestGOC.html" role="button">Request Booking »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="img-circle" src="./images/Mexico/Tulum/GOT-07.JPG" alt="Generic placeholder image" style="width: 140px; height: 140px;">
              <h2>Grand Oasis Tulum</h2>
              <h2>Mayan Riviera, Mexico</h2>
              <p><a class="btn btn-primary" href="./ReservationRequestGOT.html" role="button">Request Booking »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="img-circle" src="./images/Mexico/Sens/GOS-A.JPG" alt="Generic placeholder image" style="width: 140px; height: 140px;">
              <h2>Grand Oasis Sens</h2>
              <h2>Cancún, Mexico</h2>
              <p><a class="btn btn-primary" href="./ReservationRequestGOS.html" role="button">Request Booking » »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
            <img class="img-circle" src="./images/Mexico/Palm/GOP-08.JPG" alt="Generic placeholder image" style="width: 140px; height: 140px;">
              <h2>Grand Oasis Palm</h2>
              <h2>Cancún, Mexico</h2>
              <p><a class="btn btn-primary" href="./ReservationRequestGOP.html" role="button">Request Booking » »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
            <img class="img-circle" src="./images/Mexico/All Ritmo/Ritmo2003.JPG" alt="Generic placeholder image" style="width: 140px; height: 140px;">
              <h2>All Ritmo</h2>
              <h2>Cancún, Mexico</h2>
              <p><a class="btn btn-primary" href="./ReservationRequestAR.html" role="button">Request Booking » »</a></p>
            </div>
