.jumbotron
{
    background-image: url(../images/Presidential%20Suite%2011.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px auto;
    border-radius: 15px;
    margin-top: 80px;
    margin-bottom: 0px

}
.row-content {
  margin: 100px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 150px;
}

/* Navigation bar Styles*/
#brand {
    color: black;
}

.header .navbar-inverse .navbar-nav > li > a {
    color: #336600;
}
.header .navbar-inverse {
  background: #3399cc;
  color: #000000;
}
.header .navbar-inverse .navbar-nav {
  color: #000000;
}
.header .navbar-inverse .navbar-nav > .active > a {
  background: #303f9f;
  color: #ffff33;
  
}
.header .navbar-inverse .navbar-nav > .active > a:hover {
  background: #303f9f;
  color: #ffffff;
}
.header .navbar-inverse .navbar-nav > .active > a:focus {
  background: #303f9f;
  color: #ffff33;
}
.header .navbar-inverse .navbar-nav > .open > a {
  background: #303f9f;
  color: #ffffff;
}
.header .navbar-inverse .navbar-nav > .open > a:hover {
  background: #303f9f;
  color: #ffffff;
}
.header .navbar-inverse .navbar-nav > .open > a:focus {
  background: #303f9f;
  color: #ffffff;
}
.header .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #303f9f;
  color: #000000;
}
.header .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.header .navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #303f9f;
  color: #000000;
}

.fixed-element{
    /*margin-top:63px;*/
    margin-top:51px;
}
.fixed-element.affix{
    margin-top:51px;
}
/* End of Navigation bar Styles*/

/* Start of Destination Navigation bar Styles*/
#destNav {
    background: #303f9f;
}

#destList > li > a {
    color: #ffff33;
}

#destList > li > a:hover {
  background: #303f9f;
  color: #ffffff;
}

#destList > li > a:focus {
  background: #303f9f;
  color: #ffff33;
}

#destList .active > a:hover {
  background: #3399cc;
  color: #ffffff;
}

#destList .active > a {
  background: #3399cc;
  color: black;
}
/* End of Destination Navigation bar Styles*/

/* Start of Destination Tabs Styles*/
#destTabs {
    margin-top: 125px;
}
/* End of Destination Tabs Styles*/

/* Start of Footer Styles*/
.row-footer {
  /*margin: 300px auto;*/
  padding: 20px 0px;
  background: #3399cc;
  color: #000000;
}

.list-unstyled > li > a {
  color: #336600;
}
/* End of Footer Styles*/